In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [2]:
# import data
# train_data=pd.read_csv('/home/gajendra/Github/MachineLearning_intro/AmExpert/Dataset/train.csv')
# test_data=pd.read_csv('/home/gajendra/Github/MachineLearning_intro/AmExpert/Dataset/test.csv')
# hist_log_data= pd.read_csv('/home/gajendra/Github/MachineLearning_intro/AmExpert/Dataset/historical_user_logs.csv')

In [3]:
train_data.head()

,session_id,DateTime,user_id,product,campaign_id,webpage_id,product_category_1,product_category_2,user_group_id,gender,age_level,user_depth,city_development_index,var_1,is_click
0,140690,2017-07-02 00:00,858557,C,359520,13787,4,NaN,10.0,Female,4.0,3.0,3.0,0,0
1,333291,2017-07-02 00:00,243253,C,105960,11085,5,NaN,8.0,Female,2.0,2.0,NaN,0,0
2,129781,2017-07-02 00:00,243253,C,359520,13787,4,NaN,8.0,Female,2.0,2.0,NaN,0,0
3,464848,2017-07-02 00:00,1097446,I,359520,13787,3,NaN,3.0,Male,3.0,3.0,2.0,1,0
4,90569,2017-07-02 00:01,663656,C,405490,60305,3,NaN,2.0,Male,2.0,3.0,2.0,1,0

In [5]:
train_data.corr()

,session_id,user_id,campaign_id,webpage_id,product_category_1,product_category_2,user_group_id,age_level,user_depth,city_development_index,var_1,is_click
session_id,1.000000,0.009265,-0.245661,-0.253621,-0.040190,-0.192477,0.043984,0.064951,-0.000137,-0.001072,0.023594,-0.011598
user_id,0.009265,1.000000,-0.009227,-0.022056,0.031165,0.015698,0.045024,0.047687,-0.011238,-0.034073,0.057129,-0.004089
campaign_id,-0.245661,-0.009227,1.000000,0.606313,-0.113342,0.222252,-0.028817,-0.063227,-0.023217,0.023914,-0.006588,0.011447
webpage_id,-0.253621,-0.022056,0.606313,1.000000,-0.280598,-0.157034,-0.087625,-0.119225,0.010909,-0.013158,-0.021678,0.041717
product_category_1,-0.040190,0.031165,-0.113342,-0.280598,1.000000,0.107853,0.093174,0.152602,0.002871,0.021651,0.054029,-0.016531
product_category_2,-0.192477,0.015698,0.222252,-0.157034,0.107853,1.000000,0.175898,0.202951,-0.068418,0.127381,0.024321,0.019213
user_group_id,0.043984,0.045024,-0.028817,-0.087625,0.093174,0.175898,1.000000,0.635146,-0.012627,0.043475,0.031456,-0.007815
age_level,0.064951,0.047687,-0.063227,-0.119225,0.152602,0.202951,0.635146,1.000000,0.022386,0.002434,0.121815,-0.009681
user_depth,-0.000137,-0.011238,-0.023217,0.010909,0.002871,-0.068418,-0.012627,0.022386,1.000000,-0.055224,0.105176,-0.000952
city_development_index,-0.001072,-0.034073,0.023914,-0.013158,0.021651,0.127381,0.043475,0.002434,-0.055224,1.000000,-0.129241,-0.005686
var_1,0.023594,0.057129,-0.006588,-0.021678,0.054029,0.024321,0.031456,0.121815,0.105176,-0.129241,1.000000,0.011296
is_click,-0.011598,-0.004089,0.011447,0.041717,-0.016531,0.019213,-0.007815,-0.009681,-0.000952,-0.005686,0.011296,1.000000

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463291 entries, 0 to 463290
Data columns (total 15 columns):
session_id                463291 non-null int64
DateTime                  463291 non-null object
user_id                   463291 non-null int64
product                   463291 non-null object
campaign_id               463291 non-null int64
webpage_id                463291 non-null int64
product_category_1        463291 non-null int64
product_category_2        97437 non-null float64
user_group_id             445048 non-null float64
gender                    445048 non-null object
age_level                 445048 non-null float64
user_depth                445048 non-null float64
city_development_index    338162 non-null float64
var_1                     463291 non-null int64
is_click                  463291 non-null int64
dtypes: float64(5), int64(7), object(3)
memory usage: 53.0+ MB

In [4]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128858 entries, 0 to 128857
Data columns (total 14 columns):
session_id                128858 non-null int64
DateTime                  128858 non-null object
user_id                   128858 non-null int64
product                   128858 non-null object
campaign_id               128858 non-null int64
webpage_id                128858 non-null int64
product_category_1        128858 non-null int64
product_category_2        52687 non-null float64
user_group_id             123174 non-null float64
gender                    123174 non-null object
age_level                 123174 non-null float64
user_depth                123174 non-null float64
city_development_index    94249 non-null float64
var_1                     128858 non-null int64
dtypes: float64(5), int64(6), object(3)
memory usage: 13.8+ MB

In [5]:
# Store target variable in pred
pred=train_data['is_click']

data = pd.concat([train_data.drop(['is_click'], axis=1), test_data])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592149 entries, 0 to 128857
Data columns (total 14 columns):
session_id                592149 non-null int64
DateTime                  592149 non-null object
user_id                   592149 non-null int64
product                   592149 non-null object
campaign_id               592149 non-null int64
webpage_id                592149 non-null int64
product_category_1        592149 non-null int64
product_category_2        150124 non-null float64
user_group_id             568222 non-null float64
gender                    568222 non-null object
age_level                 568222 non-null float64
user_depth                568222 non-null float64
city_development_index    432411 non-null float64
var_1                     592149 non-null int64
dtypes: float64(5), int64(6), object(3)
memory usage: 67.8+ MB

In [6]:
data=data.drop(['session_id'], axis=1)
data['user_group_id']= data.user_group_id.fillna(data.user_group_id.median())
data['age_level']= data.age_level.fillna(data.age_level.median())
data['user_depth']= data.user_group_id.fillna(data.user_group_id.median())
data['city_development_index']= data.city_development_index.fillna(data.city_development_index.median())
data['product_category_2']= data.product_category_2.fillna(data.product_category_2.median())

# function to fill missing values with the median values
# def fill_values(column):
#     data[column] = data.column.fillna(data.column.median())
# missing_value_feats = ['user_group_id', 'age_level', 'user_depth', 'city_development_index']
# for feat in missing_value_feats:
#     fill_values(feat)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592149 entries, 0 to 128857
Data columns (total 13 columns):
DateTime                  592149 non-null object
user_id                   592149 non-null int64
product                   592149 non-null object
campaign_id               592149 non-null int64
webpage_id                592149 non-null int64
product_category_1        592149 non-null int64
product_category_2        592149 non-null float64
user_group_id             592149 non-null float64
gender                    568222 non-null object
age_level                 592149 non-null float64
user_depth                592149 non-null float64
city_development_index    592149 non-null float64
var_1                     592149 non-null int64
dtypes: float64(5), int64(5), object(3)
memory usage: 63.2+ MB

In [8]:

dummy_df = pd.get_dummies(data['gender'])
data = pd.concat([data, dummy_df], axis=1)
data = data.drop(['gender'], axis=1)
data.sample(5)

,DateTime,user_id,product,campaign_id,webpage_id,product_category_1,product_category_2,user_group_id,age_level,user_depth,city_development_index,var_1,Female,Male
63528,2017-07-08 21:30,406198,E,404347,53587,1,146115.0,3.0,3.0,3.0,2.0,0,0,1
123501,2017-07-03 13:57,19939,H,414149,45962,4,143597.0,5.0,5.0,5.0,3.0,0,0,1
249063,2017-07-05 08:52,848296,I,414149,45962,2,143597.0,3.0,3.0,3.0,3.0,0,0,1
330610,2017-07-06 08:57,276092,C,360936,13787,5,143597.0,8.0,2.0,8.0,4.0,0,1,0
200767,2017-07-04 16:05,1112757,H,405490,60305,3,143597.0,2.0,2.0,2.0,2.0,0,0,1

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592149 entries, 0 to 128857
Data columns (total 14 columns):
DateTime                  592149 non-null object
user_id                   592149 non-null int64
product                   592149 non-null object
campaign_id               592149 non-null int64
webpage_id                592149 non-null int64
product_category_1        592149 non-null int64
product_category_2        592149 non-null float64
user_group_id             592149 non-null float64
age_level                 592149 non-null float64
user_depth                592149 non-null float64
city_development_index    592149 non-null float64
var_1                     592149 non-null int64
Female                    592149 non-null uint8
Male                      592149 non-null uint8
dtypes: float64(5), int64(5), object(2), uint8(2)
memory usage: 59.9+ MB

In [10]:
# data=data.drop(['DateTime'])
data= data.drop(['Male'])
# data = data.drop(['session_id'], axis=1)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592149 entries, 0 to 128857
Data columns (total 14 columns):
DateTime                  592149 non-null object
user_id                   592149 non-null int64
product                   592149 non-null object
campaign_id               592149 non-null int64
webpage_id                592149 non-null int64
product_category_1        592149 non-null int64
product_category_2        592149 non-null float64
user_group_id             592149 non-null float64
age_level                 592149 non-null float64
user_depth                592149 non-null float64
city_development_index    592149 non-null float64
var_1                     592149 non-null int64
Female                    592149 non-null uint8
Male                      592149 non-null uint8
dtypes: float64(5), int64(5), object(2), uint8(2)
memory usage: 59.9+ MB

In [12]:
data= data.drop(['DateTime'], axis=1)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592149 entries, 0 to 128857
Data columns (total 13 columns):
user_id                   592149 non-null int64
product                   592149 non-null object
campaign_id               592149 non-null int64
webpage_id                592149 non-null int64
product_category_1        592149 non-null int64
product_category_2        592149 non-null float64
user_group_id             592149 non-null float64
age_level                 592149 non-null float64
user_depth                592149 non-null float64
city_development_index    592149 non-null float64
var_1                     592149 non-null int64
Female                    592149 non-null uint8
Male                      592149 non-null uint8
dtypes: float64(5), int64(5), object(1), uint8(2)
memory usage: 55.3+ MB

In [14]:
data['product'].value_counts()

C    191188
H    154454
I     76438
D     60978
B     29261
E     26939
A     19969
G     12425
J     12151
F      8346
Name: product, dtype: int64

In [15]:
mapping_dict={'product':{'A':0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 6, 'G': 7, 'H':8, 'I': 9, 'J': 10}}
data = data.replace(mapping_dict)
data['product'].head()

0    2
1    2
2    2
3    9
4    2
Name: product, dtype: int64

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592149 entries, 0 to 128857
Data columns (total 13 columns):
user_id                   592149 non-null int64
product                   592149 non-null int64
campaign_id               592149 non-null int64
webpage_id                592149 non-null int64
product_category_1        592149 non-null int64
product_category_2        592149 non-null float64
user_group_id             592149 non-null float64
age_level                 592149 non-null float64
user_depth                592149 non-null float64
city_development_index    592149 non-null float64
var_1                     592149 non-null int64
Female                    592149 non-null uint8
Male                      592149 non-null uint8
dtypes: float64(5), int64(6), uint8(2)
memory usage: 55.3 MB

In [17]:
data = data.drop(['Male'], axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592149 entries, 0 to 128857
Data columns (total 12 columns):
user_id                   592149 non-null int64
product                   592149 non-null int64
campaign_id               592149 non-null int64
webpage_id                592149 non-null int64
product_category_1        592149 non-null int64
product_category_2        592149 non-null float64
user_group_id             592149 non-null float64
age_level                 592149 non-null float64
user_depth                592149 non-null float64
city_development_index    592149 non-null float64
var_1                     592149 non-null int64
Female                    592149 non-null uint8
dtypes: float64(5), int64(6), uint8(1)
memory usage: 54.8 MB

In [18]:
data_train = data.iloc[:463291]
data_test = data.iloc[463291:]

In [19]:
data_train.describe()

,user_id,product,campaign_id,webpage_id,product_category_1,product_category_2,user_group_id,age_level,user_depth,city_development_index,var_1,Female
count,4.632910e+05,463291.000000,463291.000000,463291.000000,463291.000000,463291.000000,463291.000000,463291.000000,463291.000000,463291.000000,463291.000000,463291.000000
mean,5.460497e+05,4.777542,308474.540069,29685.878994,3.072427,147625.864791,3.458597,2.790840,3.458597,2.406649,0.422169,0.111364
std,3.294625e+05,3.175384,126517.101294,21542.053106,1.304233,36946.039927,2.366728,1.049283,2.366728,0.825103,0.493906,0.314583
min,4.000000e+00,0.000000,82320.000000,1734.000000,1.000000,18595.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,2.578550e+05,2.000000,118601.000000,13787.000000,2.000000,143597.000000,2.000000,2.000000,2.000000,2.000000,0.000000,0.000000
50%,5.318010e+05,3.000000,359520.000000,13787.000000,3.000000,143597.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
75%,8.278490e+05,8.000000,405490.000000,53587.000000,4.000000,143597.000000,4.000000,3.000000,4.000000,3.000000,1.000000,0.000000
max,1.141729e+06,10.000000,414149.000000,60305.000000,5.000000,450184.000000,12.000000,6.000000,12.000000,4.000000,1.000000,1.000000

In [20]:
X = data_train.values
test = data_test.values
y = pred.values

In [21]:
from sklearn.ensemble import RandomForestRegressor
clf = RandomForestRegressor()
clf.fit(X, y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [20]:
# clf = RandomForestClassifier()
# clf.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [22]:
prediction = clf.predict(test)
test_data['is_click'] = prediction
# test_data['Prediction']
# test_data = pd.concat([test_data, data_test['session_id']])
test_data

,session_id,DateTime,user_id,product,campaign_id,webpage_id,product_category_1,product_category_2,user_group_id,gender,age_level,user_depth,city_development_index,var_1,is_click
0,411705,2017-07-08 00:00,732573,J,404347,53587,1,NaN,5.0,Male,5.0,3.0,NaN,0,0.000000
1,208263,2017-07-08 00:00,172910,I,118601,28529,3,82527.0,NaN,NaN,NaN,NaN,NaN,1,0.400000
2,239450,2017-07-08 00:00,172910,I,118601,28529,4,82527.0,NaN,NaN,NaN,NaN,NaN,1,0.000000
3,547761,2017-07-08 00:00,557318,G,118601,28529,5,82527.0,1.0,Male,1.0,3.0,1.0,0,0.200000
4,574275,2017-07-08 00:00,923896,H,118601,28529,5,82527.0,9.0,Female,3.0,1.0,NaN,1,0.000000
5,394913,2017-07-08 00:00,854182,I,118601,28529,4,82527.0,1.0,Male,1.0,3.0,4.0,1,0.033333
6,562747,2017-07-08 00:00,1101628,D,118601,28529,4,82527.0,2.0,Male,2.0,3.0,2.0,1,0.000000
7,224359,2017-07-08 00:00,1101628,D,118601,28529,5,82527.0,2.0,Male,2.0,3.0,2.0,1,0.000000
8,395004,2017-07-08 00:00,1088284,I,118601,28529,4,82527.0,2.0,Male,2.0,3.0,1.0,0,0.100000
9,572855,2017-07-08 00:00,972585,H,118601,28529,5,82527.0,2.0,Male,2.0,3.0,2.0,0,0.000000
10,595386,2017-07-08 00:00,555872,D,118601,28529,5,82527.0,2.0,Male,2.0,3.0,3.0,0,0.300000
11,395293,2017-07-08 00:00,630348,I,118601,28529,4,82527.0,6.0,Male,6.0,3.0,4.0,1,0.000000
12,232085,2017-07-08 00:00,172910,G,118601,28529,5,82527.0,NaN,NaN,NaN,NaN,NaN,1,0.200000
13,222325,2017-07-08 00:00,172910,F,118601,28529,5,82527.0,NaN,NaN,NaN,NaN,NaN,1,0.100000
14,395297,2017-07-08 00:00,254445,I,118601,28529,4,82527.0,3.0,Male,3.0,3.0,2.0,1,0.000000
15,546723,2017-07-08 00:00,803761,G,118601,28529,5,82527.0,4.0,Male,4.0,3.0,2.0,1,0.000000
16,28142,2017-07-08 00:01,268092,D,360936,13787,2,NaN,3.0,Male,3.0,3.0,NaN,0,0.000000
17,595767,2017-07-08 00:01,854182,D,118601,28529,5,82527.0,1.0,Male,1.0,3.0,4.0,1,0.100000
18,547614,2017-07-08 00:01,854182,G,118601,28529,5,82527.0,1.0,Male,1.0,3.0,4.0,1,0.100000
19,577690,2017-07-08 00:01,224613,H,118601,28529,5,82527.0,4.0,Male,4.0,3.0,1.0,1,0.000000
20,207878,2017-07-08 00:01,1099847,I,118601,28529,3,82527.0,2.0,Male,2.0,3.0,2.0,1,0.300000
21,394014,2017-07-08 00:01,1099847,I,118601,28529,4,82527.0,2.0,Male,2.0,3.0,2.0,1,0.000000
22,582507,2017-07-08 00:01,550160,H,118601,28529,5,82527.0,2.0,Male,2.0,3.0,NaN,0,0.000000
23,207440,2017-07-08 00:01,899998,I,118601,28529,3,82527.0,2.0,Male,2.0,3.0,NaN,0,0.000000
24,312987,2017-07-08 00:01,1017373,I,360936,13787,2,NaN,3.0,Male,3.0,3.0,3.0,1,0.000000
25,223950,2017-07-08 00:01,128879,H,118601,28529,5,82527.0,2.0,Male,2.0,3.0,3.0,1,0.000000
26,547956,2017-07-08 00:01,128879,G,118601,28529,5,82527.0,2.0,Male,2.0,3.0,3.0,1,0.000000
27,218279,2017-07-08 00:01,164502,I,118601,28529,4,82527.0,8.0,Female,2.0,3.0,3.0,1,0.000000
28,21770,2017-07-08 00:01,1095609,C,360936,13787,5,NaN,1.0,Male,1.0,3.0,3.0,0,0.000000
29,567908,2017-07-08 00:01,332297,H,118601,28529,5,82527.0,10.0,Female,4.0,3.0,3.0,1,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128828,576965,2017-07-09 21:28,912435,H,118601,28529,5,82527.0,5.0,Male,5.0,3.0,NaN,0,0.000000
128829,385092,2017-07-09 21:28,326166,D,98970,6970,5,NaN,3.0,Male,3.0,3.0,2.0,1,0.000000
128830,231847,2017-07-09 21:28,674289,G,118601,28529,5,82527.0,12.0,Female,6.0,3.0,NaN,0,0.200000
128831,528266,2017-07-09 21:28,351079,E,98970,6970,2,NaN,2.0,Male,2.0,3.0,2.0,1,0.300000
128832,274527,2017-07-09 21:28,351079,D,98970,6970,4,NaN,2.0,Male,2.0,3.0,2.0,1,0.000000
128833,225742,2017-07-09 21:28,353918,H,396664,51181,1,NaN,2.0,Male,2.0,3.0,NaN,0,0.000000
128834,130350,2017-07-09 21:28,1058680,C,359520,13787,4,NaN,2.0,Male,2.0,3.0,2.0,0,0.000000
128835,415589,2017-07-09 21:28,370576,J,404347,53587,1,NaN,1.0,Male,1.0,3.0,3.0,0,0.000000
128836,585703,2017-07-09 21:28,152269,H,118601,28529,5,82527.0,1.0,Male,1.0,3.0,2.0,0,0.075000
128837,516578,2017-07-09 21:28,152269,A,405490,60305,2,NaN,1.0,Male,1.0,3.0,2.0,0,0.000000
128838,139725,2017-07-09 21:28,689778,C,359520,13787,4,NaN,2.0,Male,2.0,3.0,2.0,0,0.200000
128839,574168,2017-07-09 21:28,428466,H,118601,28529,5,82527.0,2.0,Male,2.0,3.0,2.0,0,0.000000
128840,559393,2017-07-09 21:28,367411,H,118601,28529,5,82527.0,2.0,Male,2.0,3.0,2.0,0,0.000000
128841,567265,2017-07-09 21:28,149060,H,118601,28529,5,82527.0,2.0,Male,2.0,3.0,2.0,0,0.000000
128842,349453,2017-07-09 21:28,179732,H,414149,45962,5,NaN,9.0,Female,3.0,3.0,4.0,1,0.000000
128843,396688,2017-07-09 21:28,588662,I,118601,28529,3,82527.0,NaN,NaN,NaN,NaN,NaN,0,0.000000
128844,433931,2017-07-09 21:29,454295,I,82320,1734,1,146115.0,5.0,Male,5.0,3.0,4.0,0,0.000000
128845,579307,2017-07-09 21:29,712753,H,118601,28529,5,82527.0,2.0,Male,2.0,3.0,NaN,0,0.000000
128846,137109,2017-07-09 21:29,680418,C,359520,13787,4,NaN,3.0,Male,3.0,3.0,3.0,0,0.700000
128847,384407,2017-07-09 21:29,75436,G,98970,6970,3,NaN,2.0,Male,2.0,3.0,3.0,0,0.116667
128848,88077,2017-07-09 21:29,806522,C,405490,60305,3,NaN,2.0,Male,2.0,3.0,3.0,0,0.000000
128849,25626,2017-07-09 21:29,718811,E,98970,6970,2,NaN,1.0,Male,1.0,3.0,NaN,0,0.200000
128850,463740,2017-07-09 21:29,615119,D,98970,6970,4,NaN,10.0,Female,4.0,3.0,3.0,0,0.200000
128851,225111,2017-07-09 21:29,35992,H,396664,51181,1,NaN,3.0,Male,3.0,3.0,3.0,0,0.000000
128852,575270,2017-07-09 21:29,516834,H,118601,28529,5,82527.0,2.0,Male,2.0,3.0,2.0,0,0.300000
128853,215328,2017-07-09 21:29,252148,B,414149,45962,2,254132.0,2.0,Male,2.0,3.0,4.0,0,0.000000
128854,282232,2017-07-09 21:29,47955,D,98970,6970,4,NaN,1.0,Male,1.0,3.0,NaN,0,0.100000
128855,140499,2017-07-09 21:29,314236,C,359520,13787,4,NaN,2.0,Male,2.0,3.0,NaN,0,0.000000
128856,531038,2017-07-09 21:29,988544,E,98970,6970,2,NaN,2.0,Male,2.0,3.0,NaN,0,0.000000
128857,349998,2017-07-09 21:29,409394,H,414149,45962,5,NaN,2.0,Male,2.0,3.0,3.0,0,0.200000

In [23]:
test_data[['session_id', 'is_click']].to_csv('/home/gajendra/Github/MachineLearning_intro/AmExpert/Predictions/3rd_prediction.csv', index=False)